<h1>Welcome to Haminnotold</h1>
<img src="https://img.clipartfest.com/08e6b6a7495aca9bbc478fcf662cd29b_welcome-hanging-banner-welcome-banner-clipart_935-311.jpeg" alt="welcome">
<h3>to create a post, click the link below :)</h3>
<%= link_to 'My Posts', controller: 'posts' %>
